/* A little reset  */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Barlow Semi Condensed", sans-serif;
}

li {
  list-style: none;
}

a {
  color: black;
}

/* Styling the global body */
body {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  overflow-x: hidden;
}

/* Score zone design */

.score__header {
  margin: 50px auto 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 90%;
  outline: solid 3px rgba(255, 255, 255, 0.171);
  border-radius: 25px;
}
.score__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 25px;
}

.game__score {
  background-color: white;
  width: 120px;
  height: 100px;
  text-align: center;
  border-radius: 10px;
  display: block;
}

.scores {
  display: block;
  margin: 15px auto;
}

.text__score {
  color: hsl(229, 64%, 46%);
  text-transform: uppercase;
  letter-spacing: 2.1px;
}

.number__score {
  font-size: 45px;
  font-weight: 700;
  color: hsl(229, 25%, 31%);
  letter-spacing: 4px;
}

/* Main */
main {
  background-image: url(images/bg-triangle.svg);
  width: 350px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  display: block;
  margin: 0 auto;
}
/* Rock Paper Scissors icons and position */
.all__choices {
  display: flex;
  flex-direction: column;
}

.paper__scissors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -40px 0px 100px 0;
}

.choice {
  background-color: white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.rock__choice {
  margin: 0 auto;
}

.paper__choice,
.scissors__choice,
.rock__choice {
  position: relative;
  cursor: pointer;
}

.paper__icon,
.scissors__icon,
.rock__icon {
  width: 35%;
  cursor: pointer;
}
/* The borders colors around the icons */
.paper__choice {
  border: 22px solid hsl(230, 89%, 62%);
}
.scissors__choice {
  border: 22px solid hsl(39, 89%, 49%);
}

.rock__choice {
  border: 22px solid hsl(349, 71%, 52%);
}

/* Rules zone */
.rules__zone {
  display: flex;
  justify-content: flex-end;
  margin: 180px 25px 0px 0px;
  cursor: pointer;
}

.rules__border {
  outline: solid 3px rgba(255, 255, 255, 0.616);
  width: 130px;
  height: 35px;
  padding: 7px;
  border-radius: 7px;
}
.rules__text {
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-weight: 900;
}

.rules__zone:hover .rules__border {
  outline: solid 3.8px rgb(255, 255, 255);
}

.ruleszone__mobile {
  display: none;
}

.modal__block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 3;
  display: none;
}
.rules__explanation {
  position: absolute;
  top: 400px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 400px;
  z-index: 4;
  background-color: white;
  padding: 30px 0px;
  display: none;
}

.header__rules {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 35px 45px 35px;
}

.rules__image {
  display: block;
  margin: auto;
}

.modal__rules {
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    color: hsl(229, 25%, 31%);
}
.mobiles__rules {
  display: none;
}

.close__explanation {
    cursor: pointer;
}

.toggle__modal {
    display: block;
}

.rulesText__mobile, 
.crossClose__mobile {
    display: none;
}

footer {
  margin: 300px auto 80px auto;
}
/* Responsive  */

@media screen and (max-width: 620px) {
  .score__header {
    border-radius: 10px;
  }
  .score__container {
    padding: 15px 18px;
  }
  .game__score {
    width: 100px;
    border-radius: 5px;
  }
  .game__icon {
    width: 120px;
  }

  main {
    width: 270px;
    height: 170px;
  }
  .choice {
    width: 120px;
    height: 120px;
  }
  .paper__choice {
    border: 13px solid hsl(230, 89%, 62%);
  }
  .scissors__choice {
    border: 13px solid hsl(39, 89%, 49%);
  }

  .rock__choice {
    border: 13px solid hsl(349, 71%, 52%);
  }

  .paper__scissors {
    margin: -40px 0px 70px 0;
  }
}
@media screen and (max-width: 440px) {
  .mobiles__visible {
    display: block;
  }
    .rules__explanation {
        display: none;
    }
    .modal__block {
      display: none;
    }

    .ruleszone__mobile {
      display: block;
      display: flex;
      justify-content: flex-end;
      margin: 180px 25px 0px 0px;
      cursor: pointer;

    }

    .rules__zone {
      display: none;
    }
    .mobiles__rules {
        position: absolute;
        top: 300px;
        left: 50%;
        right: 0%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 850px; 
        z-index: 4;
        background-color: white;
        margin-top: 100px;
      }
      .rulesborder__mobile { 
        outline: solid 3px rgba(255, 255, 255, 0.616);
        width: 130px;
        height: 35px;
        padding: 7px;
        border-radius: 7px;
      }
      .rulestext__mobile { 
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2.2px;
        font-weight: 900;
      }

      .mobile__title {
        text-align: center;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 26px;
        color: hsl(229, 25%, 31%);
        margin-bottom: 95px;
        margin-top: 25px;
      }
      .mobile__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 85px auto;
      }
      .mobile__image {
        width: 80%;
        display: block;
        margin: auto;
        margin-bottom: 95px;
      }
      .mobile__cross {
        width: 25px; 
        height: 25px;
        display: block;
        margin: 45px auto 0px;
      }

}  
